#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "header header header header header"
    "nav nav nav nav nav"
    "ad1 product1 product2 product3 ad2";
}

.navbar {
  -webkit-box-shadow: 15px -8px 20px 6px #1c1c1c;
  -moz-box-shadow: 15px -8px 20px 6px #1c1c1c;
  box-shadow: 15px -8px 20px 6px #1c1c1c;
  border-radius: 20px;
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.5, #333399),
    color-stop(0.5, #3399ff)
  );
  background-image: -o-linear-gradient(right, #333399 50%, #3399ff 50%);
  background-image: -moz-linear-gradient(right, #333399 50%, #3399ff 50%);
  background-image: -webkit-linear-gradient(right, #333399 50%, #3399ff 50%);
  background-image: -ms-linear-gradient(right, #333399 50%, #3399ff 50%);
  background-image: linear-gradient(to right, #333399 50%, #3399ff 50%);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: lightgray;
}

.navbar .nav-link.active {
  color: lime;
}

.navbar .dropdown-toggle.show {
  color: white !important;
}

.navbar .dropdown-toggle:hover {
  color: lightgray !important;
}

.dropdown-menu {
  background-color: #333399;
}

.dropdown-item {
  color: white;
}

#banner-image {
  grid-area: header;
  max-width: 100%;
}

.product1 {
  grid-area: product1;
}

.product2 {
  grid-area: product2;
}

.product3 {
  grid-area: product3;
}

.product {
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

#main-nav {
  position: relative;
  top: -30px;
  grid-area: nav;
  width: 100%;
  margin: 0 auto;
}

.nav-item {
  margin-left: 10%;
}

#cart-icon {
  max-height: 3vh;
  filter: invert(100%);
}

#cart-icon:hover {
  max-height: 3vh;
  transition: filter 0.3s ease-in-out;
  filter: invert(70%);
}

#ad1-div {
  grid-area: ad1;
  overflow: hidden;
}

#ad2-div {
  grid-area: ad2;
  overflow: hidden;
}

#ad1-div img, #ad2-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 992px) {
  .navbar-split {
    position: absolute;
    top: -36%;
    left: 51%;
    transform: translateX(-50%);
    width: 0%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(10% 11%, 11% 55%, 71% 55%, 73% 87%, 83% 87%, 83% 42%, 23% 42%, 20% 11%);
    content: '';
    background-color: white;
    width: 10%;
    height: 180%;
    clip-path: polygon(10% 11%, 11% 55%, 71% 55%, 73% 87%, 83% 87%, 83% 42%, 23% 42%, 20% 11%);
  }

  .navbar-split-blue {
    position: absolute;
    top: -103.8%;
    left: 45.5%;
    width: 12%;
    height: 250%;
    content: '';
    clip-path: polygon(6% 67%, 66% 66%, 66% 89%, 6% 89%);
    background-color: #333399;
  }

  .navbar-split-light-blue {
    position: absolute;
    top: -192.059%;
    left: 47.3%;
    width: 12%;
    height: 260%;
    content: '';
    clip-path: polygon(6% 67%, 66% 66%, 66% 89%, 6% 89%);
    background-color: #3399ff;
  }

  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav.ms-auto {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    top: 45px;
    left: 75px;
  }

  #ad1-div, #ad2-div {
    display: none;
  }

  #grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
      "header"
      "nav"
      "product1"
      "product2"
      "product3";
    justify-items: center;
  }

  .product {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
