#grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "header header header header header header"
    "nav nav nav nav nav nav"
    "ad1 main-content main-content main-content main-content ad2";
}

.navbar {
  -webkit-box-shadow: 15px -8px 20px 6xpx #1c1c1c;
  -moz-box-shadow: 15px -8px 20px 6px #1c1c1c;
  box-shadow: 15px -8px 20px 6px #1c1c1c;
  border-radius: 20px;

}

#banner-image {
  grid-area: header;
  max-width: 100%;
}

#main-nav {
  position: relative;
  top: -30px;
  grid-area: nav;
}

.nav-item {
  margin-left: 10%;
}

#cart-icon {
  max-height: 3vh;
}

#ad1-div {
  grid-area: ad1;
  overflow: hidden;
}

#ad2-div {
  grid-area: ad2;
  overflow: hidden;
}

#ad1-div img, #ad2-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
